.backgroud-img {
    background-image: url(https://images.unsplash.com/photo-1500160503851-c04cefe545a9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 80dvh;
    background-size: cover;
}

.text-shadow {
    text-shadow: 1px 1px 3px black;
}

div img {
    max-height: 60dvh;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    object-position: top;
}